<!-- 
<form  #form = "ngForm" (ngSubmit)="onSubmit(form)" novalidate>

    <input  name="name"  ngModel required  #name="ngModel" > 
    <input  name="last"  ngModel required  #last="ngModel"> <br>

    <button>Yuborish</button>
    <p>ism: {{name.value}}</p> 
    <p>famiya: {{last.value}}</p>

   <p>Forma value: {{ form.value }}</p> -->
<!-- 
    <p>Forma value: {{ form.valid }}</p>

</form>  -->


<br>


<form [formGroup]="form" (ngSubmit)="onSubmit()">


    <div formArrayName="kurslar">
 
        <div *ngFor="let kurs of kurslar.controls; index as i">


            <input [formControlName]="i">

        </div>


    </div>


    <button>Yuborish</button>








</form>

<button (click)="addKurs()">Kurs qo'sh</button>

<!-- <button (click)="setKurs()">Kurs</button> -->






